# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Set
/x64/Debug
/.vs/BinarySearchTree/v17
/.vs/BinarySearchTree/FileContentIndex/22c4d97c-ee8c-4f9e-8df9-a21386bdc7df.vsidx
/.vs/BinarySearchTree/FileContentIndex/01306c55-c5f7-45cb-9a5e-7b7740601a8b.vsidx
